*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    /* vertical-align: top;
    align-items: center; */
    /* justify-content: center; */
    /* display: inline-block; */
}
.body{
    background-color: #2d3646;
    height: 100vh;
    /*align-items: center;*/
    text-align: center;
    overflow-y: hidden;
}
.Main {
    /* text-align: center; */
    background-color: #2d3646;
    height: 100vh;
    /*align-items: center;*/
    text-align: center;
    overflow-y: scroll;
    /*justify-content: center; */
}
.Main-header {
    /* justify-content: center; */
    font-size: 4vh;
    font-weight: 900;
    -webkit-text-stroke: 3.5px rgb(0, 0, 0);
    color: rgb(220, 220, 220);
    /* align-items: center; */
}
.Main-body {
    font-size: 3vh;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-weight: 500;
    color: rgb(173, 173, 173);
    /* align-items: center;
    justify-content: center; */
}
.Main-box {
    color: #000000;
    background-color: #ffffff;
    font-size: 2.3vh;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    width: 90%;
    border: 5px solid black;
    display:inline-block
    /* align-items: center;
    justify-content: center; */
}
