*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    /* vertical-align: top;
    align-items: center; */
    /* justify-content: center; */
    /* display: inline-block; */
}
.Main {
    /* text-align: center; */
    background-color: #2d3646;
    max-height: 100vh;
    /*align-items: center;*/
    text-align: center;
    overflow: hidden;
    /*justify-content: center; */
}
.Main-header {
    /* justify-content: center; */
    font-size: calc(40px + 2vmin);
    font-weight: 900;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    color: rgb(220, 220, 220);
    /* align-items: center; */
}
.Main-body {
    font-size: calc(20px + 2vmin);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-weight: 500;
    color: rgb(173, 173, 173);
    /* align-items: center;
    justify-content: center; */
}
.Main-box {
    color: #000000;
    background-color: #ffffff;
    font-size: calc(12px + 2vmin);
    width: 90%;
    border: 5px solid black;
    display:inline-block
    /* align-items: center;
    justify-content: center; */
}
.splitScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}
.leftPane {
    grid-column: 1;
    grid-row: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid black;
    max-height: 100vh; 
  }
.rightPane {
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 1px solid black;
    max-height: 100vh; 
}