.Main {
    text-align: center;
    background-color: #282c34;
    height: 100vh;
    align-items: center;
}
.Main-header {
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(40px + 2vmin);
    font-weight: 900;
    -webkit-text-stroke: 3px black;

    color: rgb(255, 0, 0);
}
.Main-body {
    align-items: center;
    font-size: calc(20px + 2vmin);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(0, 174, 255);
}
.Main-button {
    color: #000000;
    font-size: calc(12px + 2vmin);
    text-align: center;
    align-items: center;
    width: 90%;
    height: 50px;
    border: 5px solid black;
}
.Main-lineTextInput {
    color: #000000;
    font-size: calc(12px + 2vmin);
    text-align: center;
    align-items: center;
    width: 90%;
    height: 50px;
    border: 5px solid black;
}
.Main-lineTextInput {
    color: #000000;
    font-size: calc(12px + 2vmin);
    text-align: center;
    align-items: center;
    width: 90%;
    height: 50px;
    border: 5px solid black;
}
